.main-box {
    box-sizing: border-box;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    padding: 45px;
}

.red-target {
    box-sizing: content-box;
    border: 2px dashed black;
    background-color: red;
    height: 100px;
    width: 100px;
}

.juan {
    color: blue;
}
.ironhack-course {
    color: red;
}
.web-developer {
    color: green;
    font-weight: bold;
}
.stressed {
    font-weight: bold;
}
.help {
    color: orange;
    font-weight: bold;
}

table, th {
border: 1px solid;
}
tbody, td {
    border: 1px solid;
}
.diamond, .heart {
    color: red;
}
